extends layout
block content
  //- // Navigation
  //- a#menu-toggle.btn.btn-dark.btn-lg.toggle(href='#')
  //-   i.fa.fa-bars
  //- |     
  //- nav#sidebar-wrapper
  //-   ul.sidebar-nav
  //-     a#menu-close.btn.btn-light.btn-lg.pull-right.toggle(href='#')
  //-       i.fa.fa-times
  //-     |             
  //-     li.sidebar-brand
  //-       a(href='#top') UnForget
  //-     |             
  //-     li
  //-       a(href='#top') Home
  //-     |             
  //-     li
  //-       a(href='#about') About
  //-     |             
  //-     li
  //-       a(href='#services') Services
  //-     |             
  //-     li
  //-       a(href='#portfolio') Portfolio
  //-     |             
  //-     li
  //-       a(href='#contact') Contact
  // Header
  header#top.header
      h1 UnForget 
      #form.col-md-offset-5  
        form.form-horizontal(name="add",method="post",action="/add" role='form')
          .form-group
            .col-md-4
              input#nameObj.form-control(type="text", placeholder="Object Name", name="nameObj")
          .form-group
            .col-md-4
              input#locationObj.form-control(type="text", placeholder="Location", name="locationObj")
          .form-group
            .col-md-4
              input#user.form-control(type="text", placeholder="Who are you?", name="user")
          .form-group
            .col-md-4
               button.btn.btn-default(type="submit") submit
      ul
        each obj in objs
          li #{obj.name}
  // About
  section#about.about
    .container
      .row
        .col-lg-12.text-center
          h2 Stylish Portfolio is the perfect theme for your next project!
          |                     
          p.lead
            | This theme features some wonderful photography courtesy of 
            a(target='_blank', href='http://join.deathtothestockphoto.com/') Death to the Stock Photo
            | .
      // /.row
    // /.container
  // Services
  // The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/
  section#services.services.bg-primary
    .container
      .row.text-center
        .col-lg-10.col-lg-offset-1
          h2 Our Services
          |                     
          hr.small
          |                     
          .row
            .col-md-3.col-sm-6
              .service-item
                span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x
                  |                                 
                  i.fa.fa-cloud.fa-stack-1x.text-primary
                |                                 
                h4
                  strong Service Name
                |                                 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                |                                 
                a.btn.btn-light(href='#') Learn More
            |                         
            .col-md-3.col-sm-6
              .service-item
                span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x
                  |                                 
                  i.fa.fa-compass.fa-stack-1x.text-primary
                |                                 
                h4
                  strong Service Name
                |                                 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                |                                 
                a.btn.btn-light(href='#') Learn More
            |                         
            .col-md-3.col-sm-6
              .service-item
                span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x
                  |                                 
                  i.fa.fa-flask.fa-stack-1x.text-primary
                |                                 
                h4
                  strong Service Name
                |                                 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                |                                 
                a.btn.btn-light(href='#') Learn More
            |                         
            .col-md-3.col-sm-6
              .service-item
                span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x
                  |                                 
                  i.fa.fa-shield.fa-stack-1x.text-primary
                |                                 
                h4
                  strong Service Name
                |                                 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                |                                 
                a.btn.btn-light(href='#') Learn More
          // /.row (nested)
        // /.col-lg-10
      // /.row
    // /.container
  footer
    .container
      .row
        .col-lg-10.col-lg-offset-1.text-center
          h4
            strong Start Bootstrap
          |                     
          p
            | 3481 Melrose Place
            br
            | Beverly Hills, CA 90210
          |                     
          ul.list-unstyled
            li
              i.fa.fa-phone.fa-fw
              |  (123) 456-7890
            |                         
            li
              i.fa.fa-envelope-o.fa-fw
              |   
              a(href='mailto:name@example.com') name@example.com
          |                     
          br
          |                     
          ul.list-inline
            li
              a(href='#')
                i.fa.fa-facebook.fa-fw.fa-3x
            |                         
            li
              a(href='#')
                i.fa.fa-twitter.fa-fw.fa-3x
            |                         
            li
              a(href='#')
                i.fa.fa-dribbble.fa-fw.fa-3x
          |                     
          hr.small
          |                     
          p.text-muted Copyright &copy; Your Website 2014
  // jQuery
  script(src='js/jquery.js')
  // Bootstrap Core JavaScript
  script(src='js/bootstrap.min.js')
  // Custom Theme JavaScript
  script.
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
    if (target.length) {
    $('html,body').animate({
    scrollTop: target.offset().top
    }, 1000);
    return false;
    }
    }
    });
    });
