extends layout
block content
  // Header
  header#top.header
      img#logo(src='/img/logo.png')
      h1 UNFORGET
      h3 keep track of your shit.
      .buttonHolder
        a.button.styled-button.btn.btn-default#front-button(style="font-family: 'Montserrat', serif;" href='/login') LOGIN
        br
        a.button.styled-button.btn.btn-default#front-button(style="font-family: 'Montserrat', serif;" href='/signup') SIGN UP
  // About
  section#about.about
    .container
      .row
        .col-lg-12.text-center
          h2 What is UnForget?
          |                     
          p.lead
            | A new way to keep track of where you put things
          br
          p Simply create an account, login, and register objects that you want to keep track of.
          p Every time you move an object, just log it in, and everyone in your group will receive an automated e-mail.
          p Never have your mom misplace something important to you.
          p Never look all around the house for your keys again.
          b Never forget. Period.
      // /.row
    // /.container
  // Pre-Footer
  section#pre-footer.pre-footer
    .container
  section#faq.faq
    .container
      .row
        .col-lg-12.text-center
          h2 FAQ 
        .col-md-5
          p.lead Who are you?
          p I'm Christopher Wan, a Computer Science and Economics major at Yale University. I will be graduating in 2017. 
          br
          br
          p.lead Do you have a girlfriend?
          p No.        
          br  
          br
          p.lead Are you hiring?
          p I wish. Once this becomes a multi-billion dollar company, and I start earning money, I will begin hiring :^)
        .col-md-5.col-md-offset-2
          p.lead What gave you this idea?
          p I admittedly have a hard time remembering where I put things. I also get annoyed since I always have to ask my parents where they put one of my things, and sometimes they won't even remember. With UnForget, I can check where things are myself.
          br
          p.lead Can I be your girlfriend?
          p Applications will be open soon.
          br
          p.lead Feedback | Questions?
          p Please e-mail me at christopher.wan@yale.edu, and I will get back to you as soon as I can.
  //- // Services
  //- // The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/
  //- section#services.services.bg-primary
  //-   .container
  //-     .row.text-center
  //-       .col-lg-10.col-lg-offset-1
  //-         h2 Our Services
  //-         |                     
  //-         hr.small
  //-         |                     
  //-         .row
  //-           .col-md-3.col-sm-6
  //-             .service-item
  //-               span.fa-stack.fa-4x
  //-                 i.fa.fa-circle.fa-stack-2x
  //-                 |                                 
  //-                 i.fa.fa-cloud.fa-stack-1x.text-primary
  //-               |                                 
  //-               h4
  //-                 strong Service Name
  //-               |                                 
  //-               p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  //-               |                                 
  //-               a.btn.btn-light(href='#') Learn More
  //-           |                         
  //-           .col-md-3.col-sm-6
  //-             .service-item
  //-               span.fa-stack.fa-4x
  //-                 i.fa.fa-circle.fa-stack-2x
  //-                 |                                 
  //-                 i.fa.fa-compass.fa-stack-1x.text-primary
  //-               |                                 
  //-               h4
  //-                 strong Service Name
  //-               |                                 
  //-               p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  //-               |                                 
  //-               a.btn.btn-light(href='#') Learn More
  //-           |                         
  //-           .col-md-3.col-sm-6
  //-             .service-item
  //-               span.fa-stack.fa-4x
  //-                 i.fa.fa-circle.fa-stack-2x
  //-                 |                                 
  //-                 i.fa.fa-flask.fa-stack-1x.text-primary
  //-               |                                 
  //-               h4
  //-                 strong Service Name
  //-               |                                 
  //-               p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  //-               |                                 
  //-               a.btn.btn-light(href='#') Learn More
  //-           |                         
  //-           .col-md-3.col-sm-6
  //-             .service-item
  //-               span.fa-stack.fa-4x
  //-                 i.fa.fa-circle.fa-stack-2x
  //-                 |                                 
  //-                 i.fa.fa-shield.fa-stack-1x.text-primary
  //-               |                                 
  //-               h4
  //-                 strong Service Name
  //-               |                                 
  //-               p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  //-               |                                 
  //-               a.btn.btn-light(href='#') Learn More
  //-         // /.row (nested)
  //-       // /.col-lg-10
  //-     // /.row
  //-   // /.container
  footer
    .container
      .row
        .col-lg-10.col-lg-offset-1.text-center
          br                   
          ul.list-inline
            li
              a(href='http://www.facebook.com/chrisxwan')
                i.fa.fa-facebook.fa-fw.fa-3x
            |                         
            li
              a(href='http://www.github.com/chrisxwan/unforget')
                i.fa.fa-github.fa-fw.fa-3x
            |                         
            li
              a(href='http://www.linkedin.com/in/chrisxwan')
                i.fa.fa-linkedin.fa-fw.fa-3x
          |                     
          hr.small
          |                     
          p.text-muted Copyright &copy; UnForget 2014
