doctype html
html
head
  title Aerial by HTML5 UP
  | &#x9;&#x9;
  meta(http-equiv='content-type', content='text/html; charset=utf-8')
  | &#x9;&#x9;
  meta(name='description', content='')
  | &#x9;&#x9;
  meta(name='keywords', content='')
  //if lte IE 8
    script(src='css/ie/html5shiv.js')
  | &#x9;&#x9;
  script(src='js/skel.min.js')
  | &#x9;&#x9;
  script(src='js/init.js')
  | &#x9;&#x9;
  noscript
    link(rel='stylesheet', href='css/skel.css')
    | &#x9;&#x9;&#x9;
    link(rel='stylesheet', href='css/style.css')
    | &#x9;&#x9;&#x9;
    link(rel='stylesheet', href='css/style-wide.css')
    | &#x9;&#x9;&#x9;
    link(rel='stylesheet', href='css/style-noscript.css')
  //if lte IE 9
    link(rel='stylesheet', href='css/ie/v9.css')
  //if lte IE 8
    link(rel='stylesheet', href='css/ie/v8.css')
	

body
    block content